<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des FAQ -->
    <link rel="stylesheet" href="../../stylesheets/accordion.css">
    <!-- Import alert -->
    <link rel="stylesheet" href="../../stylesheets/alert.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_app_FAQ">
            <% if (!reponseFAQView.status){ %>
                <div class="alertError">
                    <span> <%= reponseFAQView.text %> </span>
                </div>
            <% } else { %>
                <% for (let i = 0; i < reponseFAQView.data.length; i++) { %>
                    <div class="tab">
                        <input id="tab-<%= i%>" type="checkbox">
                        <label for="tab-<%= i%>"><%= reponseFAQView.data[i].quest %></label>
                        <div class="content">
                            <p> <%= reponseFAQView.data[i].response %> </p>
                    </div>
                <% } %>
            <% } %>
        </div>
    </main>
    <!-- Import footer -->
    <%- include('../Components/footer', {online}); %>
</body>
    <!-- Import de la librairie (js) de flickity pour le carrousel -->
<script src="./javascripts/libs/flickity.pkgd.min.js"></script>
</html>
