<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des FAQ -->
    <link rel="stylesheet" href="../../stylesheets/accordion.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <section>
        <div class="container_app_FAQ">
            <% for (let i = 0; i < faqResponse.length; i++) { %>
                <% console.log("faqResponse[i] -->", faqResponse[i].quest); %>
                <div class="tab">
                    <input id="tab-<%= faqResponse[i]%>" type="checkbox">
                    <label for="tab-<%= faqResponse[i]%>"><%= faqResponse[i].quest %></label>
                    <div class="content">
                        <p> <%= faqResponse[i].response %> </p>
                </div>
            <% } %>
        </div>
    </section>
    <!-- Import footer -->
    <%- include('../Components/footer', {online}); %>
</body>
    <!-- Import de la librairie (js) de flickity pour le carrousel -->
<script src="./javascripts/libs/flickity.pkgd.min.js"></script>
</html>
