<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des cartes -->
    <link rel="stylesheet" href="../../stylesheets/card.css">
    <!-- Import du css des Alert -->
    <link rel="stylesheet" href="../../stylesheets/alert.css">
    <!-- Import du css Pagination -->
    <link rel="stylesheet" href="../../stylesheets/pagination.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_app">
            <% if (!reponseFilmView.status){ %>
                <div class="alertError">
                    <span> <%= reponseFilmView.text %> </span>
                </div>
            <% } else { %>
                <% for (let i = 0; i < reponseFilmView.data.length; i++) { %>
                    <aside class="card">
                        <header>
                        <img src="<%=reponseFilmView.data[i].img%>">
                        </header>
            
                        <div class="card-bio">
                            <h5><%=reponseFilmView.data[i].name%></h5>
                            <p><%=reponseFilmView.data[i].descriptions%></p>
                            <h5>Note : </h5>
                            <ul>
                                <% if (reponseFilmView.data[i].url_alloCine) { %>
                                    <li><a href="<%=reponseFilmView.data[i].url_alloCine%>" target="_blank">AlloCiné <%=reponseFilmView.data[i].note_alloCine%>/10</a></li>
                                <% } %>
                                <% if (reponseFilmView.data[i].url_senscritique) { %>
                                    <li><a href="<%=reponseFilmView.data[i].url_senscritique%>" target="_blank">SensCritique <%=reponseFilmView.data[i].note_senscritique%>/10</a></li>
                                <% } %>
                                <% if (reponseFilmView.data[i].url_cineserie) { %>
                                    <li><a href="<%=reponseFilmView.data[i].url_cineserie%>" target="_blank">CinéSéries <%=reponseFilmView.data[i].note_cineserie%>/10</a></li>
                                <% } %>
                            </ul>
                        </div>
                    
                        <ul class="card-social-links">
                    
                        <li>
                            <a href="<%=reponseFilmView.data[i].url_source%>" target="_blank">
                                <p>Source</p>
                            </a> 
                        </li>
                    </aside> 
               <% } %>
            <% } %>
          </div>
          <div>
        <% if (reponseFilmView.status){ %>
            <!-- Import footer -->
            <%- include('../Components/pagination', {reponse: reponseFilmView}); %>
        <% } %>
        </div>
    </main>
    <!-- Import footer -->
    <%- include('../Components/footer', {online}); %>
</body>
</html>