<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des from -->
    <link rel="stylesheet" href="../../stylesheets/from.css">
    <!-- Import du css des Alert -->
    <link rel="stylesheet" href="../../stylesheets/Alert.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_app_Contact">
            <form id="contact_form" action="/faq/edit/<%=faqEdit.data._id%>" method="POST">
                <% console.log("faqEdit --->", faqEdit) %>
                <% if(faqEdit.status == true){ %>
                    <div class="alertError">
                        <span> <%=faqEdit.text%> </span>
                    </div>
                <% } %>
                <% if(Object.keys(faqEdit.saveData).length >= 1) { %>
                    <div class="structure-contact">
                        <label>Question</label><br />
                            <% if(faqEdit.saveData.quest.length >= 1) { %>
                                <input id="quest" name="quest" type="text" value="<%=faqEdit.saveData.quest%>" size="30" /><br />
                            <% } else { %>
                                <input id="quest" name="quest" type="text" placeholder="Question à ajouté ?" size="30" /><br />
                            <% } %>
                        <span id="quest_validation"></span>
                    </div>
                    <div class="structure-contact">
                        <label>Réponse</label><br />
                        <% if(faqEdit.saveData.response.length >= 1) { %>
                            <textarea id="response" name="response" class="input" placeholder="Réponse" rows="15" cols="30"><%=faqEdit.saveData.response%></textarea><br />
                        <% } else { %>
                            <textarea id="response" name="response" class="input" placeholder="Réponse" rows="15" cols="30"></textarea><br />
                        <% } %>
                        <span id="response_validation"></span>
                    </div>
                    <div class="structure-button-contact">
                        <input id="submit_button" class="button-contact" type="submit" value="Modifier"/>
                    </div>
                <% } else { %>
                    <div class="structure-contact">
                        <label>Question</label><br />
                        <% if(faqEdit.data.quest.length >= 1) { %>
                            <input id="quest" name="quest" type="text" value="<%=faqEdit.data.quest%>" size="30" /><br />
                        <% } else { %>
                            <input id="quest" name="quest" type="text" placeholder="Question à ajouté ?" size="30" /><br />
                        <% } %>
                        <span id="quest_validation"></span>
                    </div>
                    <div class="structure-contact">
                        <label>Réponse</label><br />
                        <% if(faqEdit.data.response.length >= 1) { %>
                            <textarea id="response" name="response" class="input" placeholder="Réponse" rows="15" cols="30"><%=faqEdit.data.response%></textarea><br />
                        <% } else { %>
                            <textarea id="response" name="response" class="input" placeholder="Réponse" rows="15" cols="30"></textarea><br />
                        <% } %>
                        <span id="response_validation"></span>
                    </div>
                    <div class="structure-button-contact">
                        <input id="submit_button" class="button-contact" type="submit" value="Modifier"/>
                    </div>
               <% } %>
              </form>
        </div>
    </main>
    <!-- Import -->
    <%- include('../Components/footer', {online}); %>
</body>
</html>