<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des from -->
    <link rel="stylesheet" href="../../stylesheets/from.css">
    <!-- Import du css des Tab -->
    <link rel="stylesheet" href="../../stylesheets/tab.css">
    <!-- Import du css des Alert -->
    <link rel="stylesheet" href="../../stylesheets/alert.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_tab">
            <% if (!reponseContactView.status){ %>
                <div class="alertError">
                    <span> <%= reponseContactView.text %> </span>
                </div>
            <% } else { %>
                <table>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Suprimer</th>
                        </tr>
                        <% for (let i = 0; i < reponseContactView.data.length; i++) { %>
                        <tr class="tab-ligne">
                            <td><%= i %></td>
                            <td class="tab-text-from"><%= reponseContactView.data[i].lastname%></td>
                            <td class="tab-text-from"><%= reponseContactView.data[i].firstname%></td>
                            <td class="tab-text-from"><%= reponseContactView.data[i].email%></td>
                            <td class="tab-text-from">
                                <%= reponseContactView.data[i].message%>
                            </td>
                            <td>
                                <form  action="/admin/contact-del/<%=reponseContactView.data[i]._id%>" method="POST">
                                    <input id="submit_button_tab_delete"   class="tab-buton-delete" type="submit" value="Suprimer"/>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </table>
            <% } %>
            <% if (reponseContactView.status) { %>
                <!-- Import Pagination -->
                <%- include('../Components/pagination', {reponse: reponseContactView}); %>
            <% } %>
        </div>
    </main>
    <!-- Import footer -->
    <%- include('../Components/footer', {online}); %>
</body>
</html>