<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import l'icon -->
    <link rel="icon" href="../../images/icon.png" />
    <!-- Import du css de container -->
    <link rel="stylesheet" href="../../stylesheets/container.css">
    <!-- Import du css des from -->
    <link rel="stylesheet" href="../../stylesheets/from.css">
    <!-- Import du css des Tab -->
    <link rel="stylesheet" href="../../stylesheets/tab.css">
    <!-- Import Alert -->
    <link rel="stylesheet" href="../../stylesheets/alert.css">
    <!-- Titre de la page -->
    <title><%= title %></title>
</head>
<body>
    <header>
        <!-- Import Nav Bar -->
        <%- include('../Components/navBar', {online}); %>
        <!-- Import Carrousel -->
        <%- include('../Components/Carrousel', {online}); %>
    </header>

    <main>
        <div class="container_tab">
            <!-- <form action="/panel-faq-add" method="get"></form> -->
            <a href="/panel-faq-add">
                <!-- <input type="submit" id="submit_button_tab_add" class="tab-buton-add" value="Ajouter" onclick="window.location='/panel-faq-add';" /> -->
                <input type="submit" id="submit_button_tab_add" class="tab-buton-add" value="Ajouter" />
            </a>
            <!-- </form> -->
            <% if (!reponseFAQView.status){ %>
                <div class="alertError">
                    <span> <%= reponseFAQView.text %> </span>
                </div>
            <% } else { %>
                <table>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>Quesion</th>
                            <th>Reponse</th>
                            <th>Modifier</th>
                            <th>Suprimer</th>
                        </tr>
                            <% for (let i = 0; i < reponseFAQView.data.length; i++) { %>
                            <tr class="tab-ligne">
                                <td><%= i %></td>
                                <td class="tab-text-from"><%= reponseFAQView.data[i].quest %></td>
                                <td class="tab-text-from">
                                    <%= reponseFAQView.data[i].response %>
                                </td>
                                
                                <td>
                                    <!-- <form action="/panel-faq-edit/<%= reponseFAQView.data[i]._id%>"> -->
                                        <a href="/panel-faq-edit/<%= reponseFAQView.data[i]._id%>">
                                            <input id="submit_button_tab_edit" class="tab-buton-edit" type="submit" value="Modifier"/>
                                        </a>
                                    <!-- </form> -->
                                </td>
                                <td>
                                    <form  action="/faq/del/<%= reponseFAQView.data[i]._id%>" method="POST">
                                        <input id="submit_button_tab_delete"   class="tab-buton-delete" type="submit" value="Suprimer"/>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
            </table>
        </div>
    </main>
    <!-- Import footer  -->
    <%- include('../Components/footer', {online}); %>
</body>
</html>